@media screen and (max-width: 768px) {

    main {
        position: relative;
    }
    
    
    img{
        vertical-align: bottom;
        border: none;
        width: 100%;
    }
    
    ul,li{
        list-style: none;
    }
    
    
    .postagefree{
        height: 40px;
        font-size: 0.8rem;
    }
    
    .text_red{
        color: #c91804;
    }


    .start_dots{
        left: 0.5%;
        top: 60%;
    }

    .start_dots span {
        width: 5px;
        height: 5px;
    }
    
    
    header{
        width: 100%;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 100;
    }
    
    header.fixed .header_logo{
        top: 40px;
        left: 24px;
    }
    
    .header_logo{
        display: none;
    }
    
    
    .header_logo img{
        width: 80%;
        height: auto;
    }
    
    .header_wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px 0 35px;
    }
    
    .header_nav{
        display: flex;
        align-items: center;
        padding: 24px 0;
        justify-content: flex-end;
        position: relative;
        width: 100%;
    }
    
    .header_nav_list{
        display: none;
    }
    
    
    .header_nav_list_item a{
        font-size: 0.9rem;
        font-weight: 600;
    }
    
    .header_icon{
        right: 10px;
    }
    
    .header_icon img{
        width: 20px;
        height: auto;
    }
    
    .header_icon_mypage{
        padding: 0 10px 2px 10px;
        margin-right: 0;
    }
    
    .header_icon_cart{
        padding: 0 10px 5px 14px;
    }
    
    header.fixed .header_icon{
        top: 24px;
    }
    
    
    
    .header_icon_hmb {
        width: 56px;
        height: 60px;
        position: relative;
        z-index: 30;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 22px 0;
    }
    
    .header_icon_hmb span {
        width: 22px;
        height: 1.5px;
        background-color: #000;
    }
    
    .header_nav_list_item a {
        transition: opacity 0.3s ease; 
    }
    
    .header_nav_list_item:hover a {
        opacity: 0.5; 
    }
    
    .logo{
        width: 40%;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 10;
    }
    


    .top_slide{
        display: none;
    }
    

    .top_slide_sp{
        height: calc(100svh - 40px);
        position: relative;
        display: block;
        overflow: hidden;
    }

    
    .top_slide_sp img{
        height: 100%;
        width: 100%;
    }
    
    
    .sns_link_top img{
        filter: brightness(0) invert(1);
    }
    
    
    
    .top_slide_wrap_sp .fade_sp li {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        animation: fadesp 30s infinite;
      }
      
      .top_slide_wrap_sp .fade_sp li:nth-child(1) {
        animation-delay: 0s;
      }
      
      .top_slide_wrap_sp .fade_sp li:nth-child(2) {
        animation-delay: 7s;
      }
     
      .top_slide_wrap_sp .fade_sp li:nth-child(3) {
        animation-delay: 14s;
      }
    
      .top_slide_wrap_sp .fade_sp li:nth-child(4) {
        animation-delay: 21s; 
      }
    
    
    
      .top_slide_wrap_sp .fade_sp li img {
        width: 100%;
        height: calc(100vh - 46px);
        object-fit: cover;
        transform: scale(1.1);
      }
      
      @keyframes fadesp {
        0% {
          opacity: 0;
          transform: scale(1);
        }
        15% {
          opacity: 1;
        }
        30% {
          opacity: 1;
        }
        45% {
          opacity: 0;
          transform: scale(1.1);
        }
        100% {
          opacity: 0;
        }
      }
      
    
    
    .sns_link_top {
        position: absolute;
        width: auto;
        padding: 0;
        left: 20px;
        bottom: 20px;
    }
    
    .sns_link_top_fb{
        margin-top: 20px;
    }
    
    .sns_link_top_in,.sns_link_top_fb {
        transition: opacity 0.3s ease; 
    }
    
    .sns_link_top_in:hover{
        opacity: 0.6;
    }
    
    .sns_link_top_fb:hover{
        opacity: 0.6;
    }
    
    
    
    /*----------------------------------
    header ハンバーガーメニュー
    ------------------------------------*/
    body.no-scroll{
        position: fixed;
    }

    .hmb_menu_all{
        display: none;
    }



    .header_wrap.change .header_icon_mypage{
        display: none;
    }

    .header_wrap.change .header_icon_cart{
        display: none;
    }

    .header_wrap.change .header_icon_hmb span:nth-of-type(1){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .header_wrap.change .header_icon_hmb span:nth-of-type(2){
        width: 0;
    }

    .header_wrap.change .header_icon_hmb span:nth-of-type(3){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .hmb_menu_nav_top{
        display: block;
    }

    .hmb_menu_img{
        display: none;
    }

    .hmb_menu_img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hmb_menu_nav{
        width: 100%;
        padding: 0 20px;
    }

    .hmb_menu_nav_wrap{
        width: 100%;
        max-width: 600px;
    }

    .hmb_menu_nav_logo{
        width: 40%;
        margin: 0 auto 20px;
    }

    .hmb_menu_nav_logo a {
        width: auto;
    }

    .hmb_menu_nav_logo img{
        width: 100%;
    }


    .hmb_menu_nav_btn {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }


    .btn_2{
        margin-top: 0;
    }

    .hmb_menu_nav_btn .mypage{
        position: relative;
    }

    .hmb_menu_nav_btn .mypage span{
        font-size: 0.9em;
        margin-left: 12spx;
    }



    .hmb_menu_nav_btn .cart{
        position: relative;
    }


    .hmb_menu_nav_btn .cart span{
        font-size: 0.9em;
        margin-left: 12px;
    }



    .hmb_menu_nav_btn_icon{
        width: 15px;
    }

    .hmb_inner_wrap{
    margin-top: 40px;
    }

    .hmb_inner_list{
        width: 50%;
    }

    .hmb_menu_nav_btn a {
        width: 48%;
    }

    .hmb_inner_list_item a{
        font-size: 0.8rem;
        font-weight: 600;
    }

    .hmb_inner_list .hmb_item_small{
        font-size: 0.8em;
        font-weight: 400;
    }

    .hmb_inner_list_item + .hmb_inner_list_item{
        margin-top: 6px;
    }

    .hmb_inner_list_bottom{
        margin-top: 30px;
    }

    .hmb_inner_list_bottom_item{
        width: 50%;
    }

    .hmb_inner_list_bottom_item a{
        font-size: 0.6em;
    }

    .hmb_inner_list_bottom li:nth-child(3), .hmb_inner_list_bottom li:nth-child(4),
    .hmb_inner_list_bottom li:nth-child(5){
        margin-top: 0;
    }


    .hmb_inner_sns_item + .hmb_inner_sns_item{
        margin-left: 0;
    }

    .hmb_inner_sns_item .hmb_ig span{
        position: relative;
        padding-left: 27px;
    }

    .hmb_ig,.hmb_fb{
        font-size: 0.85em;
    }

    .hmb_inner_sns_item .hmb_fb span{
        position: relative;
        padding-left: 17px;
    }


    .hmb_inner_sns {
        margin-top: 25px;
        padding-top: 30px;
        padding-bottom: 25px;
    }


    .hmb_inner_sns_item{
        width: 50%;
    }


    /*--------------------------------------
    ----------------------------------------
    brand
    ----------------------------------------
    ----------------------------------------*/

    #brand{
        padding: 30px 20px;
    }

    #brand::before {
        width: 100%;
        height: 100%;
    }

    .brand_wrap .brand_list {
        width: 100%;
        z-index: 1;
        display: block;
    }

    .brand_wrap {
        overflow: hidden;
    }


    /*--------------------------------------
    ----------------------------------------
    about
    ----------------------------------------
    ----------------------------------------*/

    #about{
        margin-top: 55px;
    }

    .about_wrap{
        padding: 56px 0 70%;
    }

    .about_title{
        font-size: 1.5rem;
        line-height: 1.6;
        text-align: left;
        padding-left: 30px;
    }

    .about_title_wrap{
        display: flex;
    }

    .about_text{
        font-size: 0.8rem;
        line-height: 2.15;
        text-align: left;
        margin-top: 30px;
    }

    .pc_br{
        display: none;
    }

    .detail_btn {
        width: 100%;
        max-width: 180px;
        height: 40px;
        line-height: 38px;
        transition: all .5s;
    }

    #about .detail_btn{
        width: 170px;
        height: 40px;
        line-height: 38px;
        transition: all .5s;
    }

    .detail_btn_arrow a{
        position: relative;
    }

    .detail_btn span{
        font-size: 0.8rem;
    }

    .detail_btn_arrow{
        width: 14px;
        height: 4px;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        transform: skew(45deg);
        position: absolute;
        top: 45%;
        right: 10%;
    }

    .about_wrap .detail_btn:hover{
        background-color: #000;
    }

    .about_wrap .detail_btn:hover span {
        color: #fff;
    }

    .about_wrap .detail_btn:hover .detail_btn_arrow {
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    .title_small{
        position: relative;
        width: 20px;
    }

    #about .title_small{
        left: 0;
        top: 60px;
    }

    .title_small span{
        font-size: 0.5rem;
        line-height: 20px;
    }

    .title_small::before,.title_small::after{
        background: url(./image/title_deco.svg) no-repeat;
        content: '';
        width: 19px;
        height: 5px;
        position: absolute;
    }

    .title_small::before{
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .title_small::after{
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0) rotate(180deg);
    }


    /*--------------------------------------
    ----------------------------------------
    topics
    ----------------------------------------
    ----------------------------------------*/


    #topics{
        margin-top: 120px;
    }

    .topics_wrap{
        position: relative;
        width: 89vw;
        max-width: 1126px;
        margin: 0 auto;
    }

    .topics_title{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 40px;
    }

    .topics_text{
        margin-top: 16px;
    }

    .topics_article{
        flex-direction: column;
        gap: 24px 0;

    }

    .topics_banner:hover img{
        transform: scale(1.03);
    }

    .topics_img{
        overflow: visible;
    }



    /*--------------------------------------
    ----------------------------------------
    products
    ----------------------------------------
    ----------------------------------------*/

    #products{
        margin-top: 120px;
    }

    .products_wrap{
        display: block;
    }

    .products_menu_nav{
        display: none;
    }

    .products_menu{
        width: 100%;
        position: relative;
        top: 0;
    }

    .products_title_wrap{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    .products_menu_title{
        width: calc(100% - 26px);
        text-align: center;
        margin-bottom: 0;
        font-size: 1.5rem;
        padding-right: 26px;
    }

    .products_menu_wrap{
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
    }

    .products_select_btn{
        display: block;
        position: relative;
    }

    .products_select_btn select{
        margin: 0;
        width: 100%;
        height: 55px;
        line-height: 55px;
        color: #000;
        text-decoration: none;
        position: relative;
        border-radius: 29px;
        border: 1px solid #000;
        display: block;
        padding: 0px 30px;
        appearance: none;
    }

    .products_select_btn::after{
        content: "";
        background: url(./image/icon_down.svg) no-repeat;
        position: absolute;
        top: 50%;
        right: 30px;
        width: 11px;
        height: 6px;
    }

    .products_select_btn select:focus {
        outline: none;
    }

    .products_all{
        width: 100%;
    }

    .products_list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px 7%;
        margin-top: 40px;
    }

    .products_list_item{
        width: 46.5%;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .products_list_item a{
        display: contents;   
    }

    .products_list_item_img{
        overflow: hidden;
    }

    .products_list_item img{
        width: 100%;
        height: auto;
        transition: all 0.7s;
    }


    .products_list_title{
        margin-top: 20px;
        font-size: 0.85rem;
        line-height: 1.7;
    }

    .products_list_price{
        margin-top: 8px;
        display: flex;
        align-items: center;
    }

    .products_list_price_num{
        font-size: 1rem;
    }


    .products_list_price_per{
        font-size: 0.6rem;
        height: 14px;
    }

    .products_list_item:hover img{
        transform: scale(1.03);
    }


    #products .title_small{
        left: 0;
        position: relative;
    }


    /*----------------------------------
    products ドロップダウンメニュー
    ------------------------------------*/



    .products_all_restaurant{
        display: none;
    }

    .products_all_hamburg{
        display: none;
    }

    .products_all_curry{
        display: none;
    }

    .products_all_jam{
        display: none;
    }

    .products_all_select{
        display: none;
    }





    /*--------------------------------------
    ----------------------------------------
    ranking
    ----------------------------------------
    ----------------------------------------*/
    #ranking{
        margin-top: 120px;
        position: relative;
        width: 100%;
    }

    .ranking_wrap{
        padding: 50px 0;
    }

    .ranking_title{
        font-size: 1.5rem;
    }

    .ranking_list_wrap{
        margin-top: 50px;
    }

    .ranking_list_wrap ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px 0;
    }

    .ranking_list{
        width: 100%;
    }

    .ranking_list_img{
        width: 100%;
        overflow: hidden;

    }

    .ranking_list img{
        width: 100%;
        transition: all 0.7s;
    }

    .ranking_list_no{
        width: 40px;
        height: 40px;
        text-align: center;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 40px;
        color: #fff;
        position: absolute;
        z-index: 2;
    }

    .ranking_list_no.rank1{
        background-color: #cbbd00;
    }

    .ranking_list_no.rank2{
        background-color: #9f9f9f;
    }

    .ranking_list_no.rank3{
        background-color: #9a7021;
    }

    #ranking::before{
        content: '';
        width: 95.60761346998537%;
        background-color: #fafafa;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .ranking_list.list3 a{
        display: contents;
    }


    .ranking_list:hover img{
        transform: scale(1.03);
    }


    .ranking_list:hover .detail_btn{
        background-color: #000;
    }

    .ranking_list:hover .detail_btn span {
        color: #fff;
    }

    .ranking_list:hover .detail_btn_arrow {
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    /*--------------------------------------
    ----------------------------------------
    news
    ----------------------------------------
    ----------------------------------------*/
    #news{
        margin-top: 120px;
    }

    .news_wrap{
        position: relative;
    }

    .news_body{
        position: relative;
        width: 100%;
        max-width: 1126px;
        margin: 0 auto;
        margin-top: 70px;
    }

    .news_title_wrap{
        width: 89vw;
        position: relative;
        max-width: 1126px;
        margin: 0 auto;
    }

    .news_title{
        font-size: 1.5rem;
    }


    .news_body{
        width: 89vw;
        position: relative;
        max-width: 1126px;
        margin: 0 auto;
        margin-top: 70px;
    }


    .news_list{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        box-sizing: content-box;
    }


    .news_list_item{
        margin-right: 24px;
    }


    .news_list_item a{
        display: block;
        width: 100%;
    }


    .news_list_item img{
        width: 100%;
        height: auto;
    }


    .news_list_item_date{
        margin-top: 24px;
        font-family:sans-serif;
        font-weight: 400;
        font-size: 0.7rem;
        letter-spacing: .05em;
    }

    .news_list_item_text{
        margin-top: 16px;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }


    .news_logo{
        border: 1px solid #eaeaea;
    }

    .news_list_img,.news_logo{
        overflow: hidden;
    }

    .news_list_item img{
        transition: all 0.5s;
    }

    .news_list_item a:hover img{
        transform: scale(1.03);
    }

    /*----------------------------------
    news　スライドショー
    ------------------------------------*/
    .news_list::-webkit-scrollbar{
        display: none;
    }



    /*---------------------------------
    news　スライドショーEND
    -----------------------------------*/


    .view_all{
        margin-top: 24px;
    }

    .view_all_btn,.view_all_btn_next{
        width: 50px;
        height: 50px;
    }

    .view_all_btn{
        margin-right: 16px;
    }

    .view_all a{
        margin-right: 31px;
    }

    .view_all a span{
        font-size: 0.8rem;
    }


    .view_all a span::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #000;
        margin-top: 5px;
        transition: width 0.5s ease-out; 
    }

    .view_all a span.none::after {
        width: 0; 
    }



    .view_all_btn_arrow{
        width: 17px;
        height: 5px;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        transform: skew(-45deg) translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        transition: all .5s;
    }

    .view_all_btn_arrow_next{
        width: 17px;
        height: 5px;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        transform: skew(45deg) translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        transition: all .5s;
    }


    .view_all_btn:hover{
        background-color: #000;
    }

    .view_all_btn:hover .view_all_btn_arrow {
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
    }

    #news .title_small{
        left: 0;
    }

    .view_all_btn:hover, .view_all_btn_next:hover {
        background-color: rgba(0, 0, 0, 0);
    }

    .view_all_btn_next:hover .view_all_btn_arrow_next {
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
    }

    .view_all_btn:hover .view_all_btn_arrow {
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
    }


    /*--------------------------------------
    ----------------------------------------
    faq
    ----------------------------------------
    ----------------------------------------*/
    #faq{
        margin-top: 50px;
        width: 100%;
    }

    .faq_wrap{
        display: block;
        width: 89vw;
    }

    .faq_title_wrap{
        width: 100%;
    }

    .faq_title{
        margin-bottom: 50px;
        display: flex;
        align-items: center;
    }

    .faq_detail{
        width: 100%;
    }

    .faq_title_text{
        font-size: 1.5rem;
        text-align: center;
        width: calc(100% - 26px);
        padding-right: 26px;
        
    }

    .faq_detail_list{
        width: 100%;
        border-bottom: 1px solid #eaeaea;
    }


    .faq_detail_list_item.q{
        padding: 25px 0;
    }

    .faq_detail_list_item_inner{
        display: flex;
        width: calc(100% - 33px);
    }

    .faq_detail_list_item__q,.faq_detail_list_item__a{
        display: block;
        width: 40px;
        font-size: 1.3rem;
        line-height: 1;
    }


    .faq_detail_list_item__text,.faq_detail_list_item__text_a{
        width: calc(100% - 30px);
        font-size: 0.88rem;
    }


    .faq_detail_list_item__btn{
        width: 33px;
        height: 33px;
    }

    .faq_detail_list_item__btn span{
        width: 13px;
        height: 1px;
        top: 50%;
        left: 50%;
        background-color: #000;
        position: absolute;
        transition: all .5s;
    }



    .faq_detail_list_item.q:hover .faq_detail_list_item__btn {
        background-color: #fff;
    }

    .faq_detail_list_item.q:hover .faq_detail_list_item__btn span{
        background-color: #000;

    }




    .faq_detail_list_item.a-1,.a-2,.a-3{
        margin-bottom: 20px;
    }

    .faq_detail_list_item_inner_a{
        display: flex;
    }




    #faq .title_small{
        position: relative;
        top: auto;
        left: auto;
    }

    /*--------------------------------------
    ----------------------------------------
    footer
    ----------------------------------------
    ----------------------------------------*/

    #footer{
        margin-top: 120px;
        display: block;
    }

    .footer_menu{
        padding: 40px 0;
    }

    .footer_menu_wrap{
        display: block;

    }

    .footer_menu_wrap_logo{
        width: 50%;
        margin: 0 auto;
    }

    .footer_navi{
        width: 50%;
    }

    .footer_navi.thin{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .footer_logo:hover img {
        opacity: 0.6; 
    }


    .footer_menu_list{
        width: 100%;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .footer_navi_item a{
        font-size: 0.9rem;
    }

    .footer_navi_item.sub a{ 
        font-size: 0.7rem
    }

    .footer_menu_list .footer_navi.thin a{
        font-size: 0.7rem;
    }

    .footer_navi_item + .footer_navi_item {
        margin-top: 8px;
    }

    .footer_navi.thin li:nth-child(2){
        margin-top: 0;
    }


    .footer_navi.thin .footer_navi_item {
        width: 50%;
    }


    .footer_btn{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .footer_btn a{
        width: 48%;
        height: 48px;
        line-height: 48px;
        font-size: 0.8rem;
    }

    .footer_btn_mypage,.footer_btn_cart{
        transition: all .5s;
    }


    .footer_btn_mypage span{
        padding-left: 30px;
        position: relative;
    }

    .footer_btn_mypage span::before{
        content: '';
        width: 18px;
        height: 22px;
        background: url(./image/icon_mypage.svg);
        background-size: 100% auto;
        left: 0;
        top: 50%;
        transform: translate(0,-50%);
        position: absolute;
    }

    .footer_btn_cart{
        margin-top: 0;
    }

    .footer_btn_cart span{
        padding-left: 32px;
        position: relative;
    }

    .footer_btn_cart span::before{
        content: '';
        width: 20px;
        height: 26px;
        background: url(./image/icon_cart.svg) no-repeat;
        background-size: 100% auto;
        left: 0;
        top: 50%;
        transform: translate(0,-50%);
        position: absolute;
    }

    .footer_sns_title{
        text-align: center;
        font-size: 1.2rem;
    }

    .footer_sns_btn{
        margin-left: 0;
        justify-content: space-between;
        margin-top: 24px;
    }

    .footer_sns_btn_in,.footer_sns_btn_fb{
        width: 50%;
        height: 48px;
        line-height: 48px;
        font-size: 0.8rem;
    }

    .footer_sns_btn_in span{
        padding-left: 27px;
        position: relative;
    }

    .footer_sns_btn_fb span{
        padding-left: 18px;
        position: relative;
    }

    .footer_sns{
        display: block;
        padding: 40px 0;
        width: 89vw;
        margin: 0 auto;
    }

    .footer_sns_btn_in span::before{
        width: 17px;
        height: 17px;
    }

    .footer_sns_btn_fb span::before{
        width: 9px;
        height: 17px;
    }

    .footer_copy{
        padding: 40px 0;
    }

    .footer_copy_logo{
        width: 180px;
        margin: 0 auto 15px;
    }


    .footer_copy_wrap{
        display: block;
        width: 87vw;
    }

    .footer_copy_wrap_left{
        display: block;
    }


    .footer_copy_address{
        display: block;
    }

    .footer_copy_address p{
        font-size: 0.7rem;
        text-align: center;
    }

    .footer_copy_address p + p{
        margin-top: 5px;
        margin-left: 0;
    }

    .footer_copy_wrap_right{
        text-align: center;
        font-size: 0.6rem;
        margin-top: 24px;
    }

    
}