main {
    position: relative;
}

.start {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 9000;
}
.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: auto;
}

.start_dots{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 47.5%;
    top: 60%;
    position: absolute;

}

.start_dots span{
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
    display: block;
}

.start_dots span+span{
    margin-left: 20px;
}


.start_dots span {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDrop 1s forwards;
}

.start_dots span:nth-child(1) {
    animation-delay: 0s;
}

.start_dots span:nth-child(2) {
    animation-delay: 0.5s;
}

.start_dots span:nth-child(3) {
    animation-delay: 1s;
}

@keyframes fadeInDrop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



a{
    text-decoration: none;
    color: #000;
}

img{
    vertical-align: bottom;
    border: none;
}

ul,li{
    list-style: none;
}


.postagefree{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    background-color: #cbbd00;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.text_red{
    color: #c91804;
}

.text_nomal{
    margin-left: 15px;
    color: #fff;
}


.fadein{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fadein.scrollin{
    opacity: 1;
}




header{
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 100;
}

header.fixed .header_logo{
    display: block;
    position: fixed;
    top: 37px;
    left: 30px;
    z-index: 100;
}

.header_logo{
    display: none;
}


.header_logo img{
    width: 100%;
    height: auto;
}

.header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 35px;
}

.header_nav{
    display: flex;
    align-items: center;
    padding: 24px 0;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}

.header_nav_list{
    display: flex;
    gap: 0 24px;
    margin-right: 200px;
    line-height: 60px;
}


.header_nav_list_item a{
    font-size: 0.9rem;
    font-weight: 600;
}

.header_icon{
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 64px;
    right: 24px;
    transition: all .5s;
}

.header_icon img{
    width: 22px;
    height: auto;
}

.header_icon_mypage{
    padding: 0 10px;
    margin-right: 10px;
}

.header_icon_cart{
    padding: 0 10px;
}

header.fixed .header_icon{
    top: 24px;
}



.header_icon_mypage,.header_icon_cart,.header_icon_hmb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mix-blend-mode: exclusion;
}


.header_icon_hmb {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 30;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
}

.header_icon_hmb span {
    width: 24px;
    height: 1.5px;
    background-color: #000;
}

.header_nav_list_item a {
    transition: opacity 0.3s ease; 
}

.header_nav_list_item:hover a {
    opacity: 0.5; 
}




.top{
    width: 100%;
    position: relative;
}

.top_slide{
    margin-left: 120px;
    position: relative;
    z-index: 3;
}


.top_slide img{
    height: 100%;
    width: 100%;
}

.logo {
    width: 235px;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 10;
}


.sns_link_top img{
    display: block;
    height: 18px;
}


.top_slide_wrap{
    position: relative;
    height: calc(100vh - 46px);
    overflow: hidden;
}


.top_slide_wrap .fade li {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    animation: fade 30s infinite;
  }
  
  .top_slide_wrap .fade li:nth-child(1) {
    animation-delay: 0s;
  }
  
  .top_slide_wrap .fade li:nth-child(2) {
    animation-delay: 7s;
  }
 
  .top_slide_wrap .fade li:nth-child(3) {
    animation-delay: 14s;
  }

  .top_slide_wrap .fade li:nth-child(4) {
    animation-delay: 21s; 
  }



  .top_slide_wrap .fade li img {
    width: 100%;
    height: calc(100vh - 46px);
    object-fit: cover;
    transform: scale(1);
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    15% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    45% {
      opacity: 0;
      transform: scale(1.1);
    }
    100% {
      opacity: 0;
    }
  }
  


.sns_link_top {
    position: absolute;
    width: 120px;
    padding: 56px 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.sns_link_top_fb{
    margin-top: 20px;
}

.sns_link_top_in,.sns_link_top_fb {
    transition: opacity 0.3s ease; 
}

.sns_link_top_in:hover{
    opacity: 0.6;
}

.sns_link_top_fb:hover{
    opacity: 0.6;
}



/*----------------------------------
header ハンバーガーメニュー
------------------------------------*/
body.no-scroll{
    position: fixed;
}

.header_wrap .hmb_menu_all{
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    visibility: hidden;
    background-color: #fff;
    height: 100vh;
    z-index: 200;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.header_wrap.open .hmb_menu_all{
    display: flex;
    opacity: 1;
    visibility: visible;
}




.header_wrap.open .header_icon_mypage{
    display: none;
}

.header_wrap.open .header_icon_cart{
    display: none;
}

.header_wrap.open .header_icon_hmb span:nth-of-type(1){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.header_wrap.open .header_icon_hmb span:nth-of-type(2){
    width: 0;
}

.header_wrap.open .header_icon_hmb span:nth-of-type(3){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.hmb_menu_nav_top{
    width: 100%;
    align-items: center;
    display: flex;
}

.hmb_menu_img{
    width: 40%;
    height: 100%;
}

.hmb_menu_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hmb_menu_nav{
    width: 60%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.hmb_menu_nav_wrap{
    width: 70%;
}

.hmb_menu_nav_logo{
    width: 50%;
}

.hmb_menu_nav_logo a{
    display: block;
    width: 80%;
}

.hmb_menu_nav_logo img{
    width: 100%;
}


.hmb_menu_nav_btn {
    width: 50%;
}

.hmb_menu_nav_btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 50px;
    line-height: 48px;
    
}

.btn_2{
    margin-top: 16px;
}

.hmb_menu_nav_btn .mypage{
    position: relative;
}

.hmb_menu_nav_btn .mypage span{
    font-size: 0.9em;
    margin-left: 10px;
}

.hmb_menu_nav_btn .cart{
    position: relative;
}


.hmb_menu_nav_btn .cart span{
    font-size: 0.9em;
    margin-left: 12px;
}

.hmb_menu_nav_btn_icon{
    width: 17px;
    height: auto;
}

.hmb_menu_nav_btn_icon img{
    padding: 15px 0;
}

.hmb_menu_nav_btn.mypage {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hmb_menu_nav_btn.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hmb_inner_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 54px;
}

.hmb_inner_list{
    width: 50%;
}

.hmb_inner_list_item a{
    font-size: 1.1rem;
    font-weight: 600;
}

.hmb_inner_list .hmb_item_small{
    font-size: 0.9em;
    font-weight: 400;
}

.hmb_inner_list_item + .hmb_inner_list_item{
    margin-top: 16px;
}

.hmb_inner_list_bottom{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.hmb_inner_list_bottom_item{
    width: 50%;
}

.hmb_inner_list_bottom_item a{
    font-size: 0.8em;
}

.hmb_inner_list_bottom li:nth-child(3), .hmb_inner_list_bottom li:nth-child(4),
.hmb_inner_list_bottom li:nth-child(5){
    margin-top: 12px;
}


.hmb_inner_sns{
    width: 100%;
    border-top: 1px solid #eaeaea;
    display: flex;
    margin-top: 50px;
    padding-top: 40px;
}

.hmb_inner_sns_item + .hmb_inner_sns_item{
    margin-left: 40px;
}

.hmb_inner_sns_item .hmb_ig span{
    position: relative;
    padding-left: 27px;
}

.hmb_ig,.hmb_fb{
    font-size: 0.8em;
}

.hmb_inner_sns_item .hmb_fb span{
    position: relative;
    padding-left: 17px;
}


.hmb_inner_sns_item .hmb_ig span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background: url(./image/icon_ig.svg) no-repeat;
}

.hmb_inner_sns_item .hmb_fb span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: url(./image/icon_fb.svg) no-repeat;
}

/*--------------------------------------
----------------------------------------
brand
----------------------------------------
----------------------------------------*/

#brand{
    width: 100%;
    padding: 96px 0;
    position: relative;
}

#brand::before {
    content: '';
    width: 95%;
    background-color: #fafafa;
    height: calc(100% + 170px);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.brand_wrap{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.brand_wrap .brand_list{
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 25px 30px;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    
}

.brand_wrap a{
    display: flex;
    color: #000;
    text-decoration: none;
}

.brand_img{
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.brand_img img{
    width: 100%;
    height: auto;
    transition: all 0.7s;
}

.brand_detail{
    width: calc(100% - 88px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand_text{
    margin-bottom: 5px;
    text-align: center;
    font-size: 0.7rem;
    transform: scale(.9);
    line-height: 1.4;
}

.brand_detail{
    transition: opacity 0.3s ease;
}

.brand1 .brand_name{
    width: 90px;
}

.brand2 .brand_name{
    width: 160px;
}

.brand3 .brand_name{
    width: 180px;
}

.brand4 .brand_name{
    width: 65px;
}

.brand5 .brand_text{
    font-size: 1.3rem;
    margin-bottom: 0;
}

.brand_name img{
    width: 100%;
    height: auto;
}

.brand_wrap li:hover:hover .brand_img img{
    transform: scale(1.03);
}



.brand_wrap ul li {
    flex-grow: 1;
    flex-basis: calc(calc(100% - 60px) / 3); 
    max-width: calc(calc(100% - 60px) / 3); 
}

.brand_wrap li:hover .brand_detail{
    opacity: 0.6;
}



/*--------------------------------------
----------------------------------------
about
----------------------------------------
----------------------------------------*/

#about{
    margin-top: 112px;
    width: 100%;
    background: url(./image/about.png) bottom center no-repeat;
    background-size: cover;
}

.about_wrap{
    position: relative;
    width: 89vw;
    max-width: 1126px;
    margin: 0 auto;
    padding: 88px 0 28%;
    max-height: 1140px;
}

.about_title{
    font-size: 3rem;
    line-height: 1.6;
    text-align: center;
}

.about_text{
    margin-top: 60px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: .02em;
    line-height: 2.6;
}

.detail_btn {
    margin: 24px 0 0 0;
    width: 200px;
    height: 48px;
    line-height: 46px;
    text-align: center;
    color: #000;
    text-decoration: none;
    position: relative;
    border-radius: 24px;
    border: 1px solid #000;
    display: block;
}

#about .detail_btn{
    margin: 40px auto 0;
    cursor: pointer;
}

.detail_btn_arrow a{
    position: relative;
}

.detail_btn span{
    font-size: 0.9rem;
}

.detail_btn_arrow{
    width: 14px;
    height: 4px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: skew(45deg);
    position: absolute;
    top: 45%;
    right: 10%;
}

.about_wrap .detail_btn:hover{
    background-color: #000;
}

.about_wrap .detail_btn:hover span {
    color: #fff;
}

.about_wrap .detail_btn:hover .detail_btn_arrow {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.title_small{
    position: relative;
    width: 26px;
}

#about .title_small{
    position: absolute;
    left: -73px;
    top: 88px;
}

.title_small span{
    writing-mode: vertical-rl;
    padding: 16px 0;
    font-size: 0.7rem;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
}

.title_small::before,.title_small::after{
    background: url(./image/title_deco.svg) no-repeat;
    content: '';
    width: 26px;
    height: 6px;
    position: absolute;
}

.title_small::before{
    top: 0;
    left: 50%;
}

.title_small::after{
    transform: rotate(180deg);
    bottom: 5px;
    left: 50%;

}


/*--------------------------------------
----------------------------------------
topics
----------------------------------------
----------------------------------------*/


#topics{
    margin-top: 120px;
}

.topics_wrap{
    position: relative;
    width: 89vw;
    max-width: 1126px;
    margin: 0 auto;
}

.topics_title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}

.topics_text{
    font-size: 0.8rem;
    line-height: 1.6;
    margin-top: 24px;
}

.topics_article{
    display: flex;
    justify-content: space-between;
    gap: 0 5%;
}

.topics_banner{
    display: block;
    width: 100%;
    color: #000;
    text-decoration: none;
}
.topics_banner img{
    width: 100%;
    height: auto;
    transition:all 0.7s;
}

.topics_banner:hover img{
    transform: scale(1.03);
}

.topics_img{
    overflow: hidden;
}



/*--------------------------------------
----------------------------------------
products
----------------------------------------
----------------------------------------*/

#products{
    margin-top: 120px;
}

.products_select_btn{
    display: none;
}

.products_wrap{
    width: 89vw;
    position: relative;
    max-width: 1126px;
    margin: 0 auto;
    display: flex;
}

.products_menu_title{
    margin-bottom: 40px;
    font-size: 2rem;
}

.products_menu_nav_item + .products_menu_nav_item{
    margin-top: 16px;
}

.products_menu_nav_item{
    font-size: 0.8rem;
    font-family: sans-serif;
    
}

.products_menu_nav_item .products_menu_btn:hover {
    color: rgba(128, 128, 128, 0.8); 
}

.products_menu_nav_item .products_menu_btn{
    transition: color 0.3s ease;
}

.products_menu_nav_item button{
    background-color: transparent;
    cursor: pointer;
    appearance: none;
    color: rgb(0, 0, 0);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    padding: 0px;
    text-decoration: none;
}



.products_menu{
    width: 286px;
    position: sticky;
    top: 8rem;
}

.products_all{
    width: calc(100% - 286px);
    display: flex;
}

.products_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 60px 7%;
}

.products_list_item{
    width: 46.5%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.products_list_item a{
    display: contents;   
}

.products_list_item_img{
    overflow: hidden;
}

.products_list_item img{
    width: 100%;
    height: auto;
    transition: all 0.7s;
}


.products_list_title{
    margin-top: 24px;
    font-size: 0.9rem;
    line-height: 1.7;
}

.products_list_price{
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.products_list_price_num{
    font-size: 1.3rem;
}

.products_list_text{
    margin-top: 16px;
    font-size: 0.7rem;
    line-height: 2;
    flex: 1 0 auto;
}

.products_list_price_per{
    display: inline-block;
    font-size: 0.8rem;
    padding: 0 4px;
    background-color: #c91804;
    font-weight: 500;
    color: #fff;
    height: 18px;
    margin-left: 10px;
}

.products_list_item:hover img{
    transform: scale(1.03);
}


.products_list_item:hover .detail_btn{
    background-color: #000;
}

.products_list_item:hover .detail_btn span {
    color: #fff;
}

.products_list_item:hover .detail_btn_arrow {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}


#products .title_small{
    position: absolute;
    top: 0;
    left: -73px;
}

.products_all_restaurant{
    display: none;
}

.products_all_hamburg{
    display: none;
}

.products_all_curry{
    display: none;
}

.products_all_jam{
    display: none;
}

.products_all_select{
    display: none;
}


.products_menu_btn.select{
    opacity: .5;
}

/*--------------------------------------
----------------------------------------
ranking
----------------------------------------
----------------------------------------*/
#ranking{
    margin-top: 120px;
    position: relative;
    width: 100%;
}

.ranking_wrap{
    position: relative;
    width: 87%;
    max-width: 1126px;
    margin: 0 auto;
    padding: 80px 0;
}

.ranking_title{
    font-size: 2rem;
    text-align: center;
}

.ranking_list_wrap{
    margin-top: 50px;
}

.ranking_list_wrap ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ranking_list{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.ranking_list_img{
    width: 100%;
    overflow: hidden;

}

.ranking_list img{
    width: 100%;
    transition: all 0.7s;
}

.ranking_list_no{
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 40px;
    color: #fff;
    position: absolute;
    z-index: 2;
}




.ranking_list_no.rank1{
    background-color: #cbbd00;
}

.ranking_list_no.rank2{
    background-color: #9f9f9f;
}

.ranking_list_no.rank3{
    background-color: #9a7021;
}

#ranking::before{
    content: '';
    width: 95.60761346998537%;
    background-color: #fafafa;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.ranking_list.list3 a{
    display: contents;
}


.ranking_list:hover img{
    transform: scale(1.03);
}


.ranking_list:hover .detail_btn{
    background-color: #000;
}

.ranking_list:hover .detail_btn span {
    color: #fff;
}

.ranking_list:hover .detail_btn_arrow {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

/*--------------------------------------
----------------------------------------
news
----------------------------------------
----------------------------------------*/
#news{
    margin-top: 120px;
}

.news_wrap{
    position: relative;
    overflow: hidden;
}

.news_body{
    position: relative;
    width: 100%;
    max-width: 1126px;
    margin: 0 auto;
    margin-top: 70px;
}

.news_title_wrap{
    width: 89vw;
    position: relative;
    max-width: 1126px;
    margin: 0 auto;
}

.news_title{
    font-size: 2.5rem;
    line-height: 1.6;
    text-align: center;
}


.news_body{
    width: 89vw;
    position: relative;
    max-width: 1126px;
    margin: 0 auto;
    margin-top: 70px;
}


.news_list{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}


.news_list_item{
    margin-right: 46px;
}


.news_list_item a{
    display: block;
    width: 345px;
}


.news_list_item img{
    width: 100%;
    height: auto;
}


.news_list_item_date{
    margin-top: 24px;
    font-family:sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    letter-spacing: .05em;
}

.news_list_item_text{
    margin-top: 16px;
    font-size: 0.8rem;
    line-height: 1.5rem;
}


.news_logo{
    border: 1px solid #eaeaea;
}

.news_list_img,.news_logo{
    overflow: hidden;
}

.news_list_item img{
    transition: all 0.5s;
}

.news_list_item a:hover img{
    transform: scale(1.03);
}

.news_list::-webkit-scrollbar{
    display: none;
}

  
.news_body_inner {
    position: relative;
}



.view_all{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 48px;
}

.view_all_btn,.view_all_btn_next{
    display: block;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    transition: all .5s;
}

.view_all_btn{
    margin-right: 16px;
}

.view_all a{
    margin-right: 40px;
}

.view_all a span{
    position: relative;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
}

.view_all a span::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 10px;
}

.view_all a span::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 10px;
    transition: width 0.5s ease-out; 
}

.view_all a span.none::after {
    width: 0; 
}



.view_all_btn_arrow{
    width: 17px;
    height: 5px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    transform: skew(-45deg) translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .5s;
}

.view_all_btn_arrow_next{
    width: 17px;
    height: 5px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: skew(45deg) translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .5s;
}


.view_all_btn:hover{
    background-color: #000;
}

.view_all_btn:hover .view_all_btn_arrow {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

.view_all_btn_next:hover{
    background-color: #000;
}

.view_all_btn_next:hover .view_all_btn_arrow_next {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

#news .title_small{
    position: absolute;
    top: 0;
    left: -73px;
}


.view_all_btn {
    pointer-events: none; 
    opacity: 0.5; 
}

.view_all_btn.enabled {
    pointer-events: auto; 
    opacity: 1; 
}

#news .slick-track {
    width: 3128px !important;
}

.view_all_btn_next.slick-arrow.slick-disabled{
    pointer-events: none; 
    opacity: 0.5; 
}

/*--------------------------------------
----------------------------------------
faq
----------------------------------------
----------------------------------------*/
#faq{
    margin-top: 120px;
    width: 100%;
}

.faq_wrap{
    position: relative;
    max-width: 1126px;
    margin: 0 auto;
    display: flex;

    width: 89vw;
}

.faq_title_wrap{
    width: 286px;
}


.faq_detail{
    width: calc(100% - 286px);
}

.faq_title_text{
    font-size: 2rem;
}

.faq_detail_list{
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}

.faq_detail_list_item{
    display: flex;
}

.faq_detail_list_item.q{
    border-top: 1px solid #eaeaea;
    padding: 30px 0;
    cursor: pointer;
    align-items: center;
}

.faq_detail_list_item_inner{
    display: flex;
    width: calc(100% - 33px);
}

.faq_detail_list_item__q,.faq_detail_list_item__a{
    display: block;
    width: 40px;
    font-size: 1.3rem;
    line-height: 1;
}


.faq_detail_list_item__text,.faq_detail_list_item__text_a{
    display: block;
    width: calc(100% - 40px);
    font-size: 0.9rem;
}


.faq_detail_list_item__btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: all .5s;
}

.faq_detail_list_item__btn span{
    width: 13px;
    height: 1px;
    top: 50%;
    left: 50%;
    background-color: #000;
    position: absolute;
    transition: all .5s;
}

.faq_detail_list_item__btn span:nth-of-type(1){
    transform: translate(-50%, -50%);
}

.faq_detail_list_item__btn span:nth-of-type(2).open {
    transform: translate(-50%, -50%) rotate(0deg);
}

.faq_detail_list_item__btn span:nth-of-type(2) {
    transform: translate(-50%, -50%) rotate(90deg);
    transition: all .5s;
}



.faq_detail_list_item.q:hover .faq_detail_list_item__btn{
    background-color: #000;
}

.faq_detail_list_item.q:hover .faq_detail_list_item__btn span{
    background-color: #fff;
    width: 13px;
    height: 1px;
}







.faq_detail_list_item.a-1,.a-2,.a-3{
    padding: 20px;
    background-color: #fafafa;
    margin-bottom: 30px;
    display: none;
}

.faq_detail_list_item_inner_a{
    display: flex;
}




#faq .title_small{
    position: absolute;
    top: 0;
    left: -73px;
}

/*--------------------------------------
----------------------------------------
footer
----------------------------------------
----------------------------------------*/

#footer{
    margin-top: 120px;
    display: block;
}

.footer_menu{
    background-color: #fafafa;
    padding: 80px 0;
}

.footer_menu_wrap{
    position: relative;
    width: 89vw;
    max-width: 1126px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer_menu_wrap_logo .footer_logo img{
    width: 100%;
    height: auto;
}


.footer_logo img {
    transition: opacity 0.3s ease; 
}

.footer_logo:hover img {
    opacity: 0.6; 
}


.footer_menu_list{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer_navi_item a{
    color: #000;
    font-size: 1rem;
    font-weight: 580;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer_navi_item.sub a{ 
    font-size: 0.8rem
}

.footer_menu_list .footer_navi.thin a{
    font-weight: 400;
    color: #000;
    font-size: 0.8rem;
}

.footer_navi_item + .footer_navi_item {
    margin-top: 8px;
}

.footer_navi_item{
    width: max-content;
}

.footer_navi_item a:hover,.footer_navi.thin a:hover {
    color: rgba(128, 128, 128, 0.8); 
}




.footer_btn{
    width: 19%;
}

.footer_btn a{
    display: block;
    width: 100%;
    height: 56px;
    line-height: 54px;
    border-radius: 28px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid #fff;
}

.footer_btn_mypage,.footer_btn_cart{
    transition: all .5s;
}

.footer_btn_mypage:hover, .footer_btn_cart:hover{
    border: 1px solid #000;
}

.footer_btn_mypage span{
    padding-left: 30px;
    position: relative;
}

.footer_btn_mypage span::before{
    content: '';
    width: 18px;
    height: 22px;
    background: url(./image/icon_mypage.svg);
    background-size: 100% auto;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    position: absolute;
}

.footer_btn_cart{
    margin-top: 16px;
}

.footer_btn_cart span{
    padding-left: 32px;
    position: relative;
}

.footer_btn_cart span::before{
    content: '';
    width: 20px;
    height: 26px;
    background: url(./image/icon_cart.svg) no-repeat;
    background-size: 100% auto;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    position: absolute;
}

.footer_sns_title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.footer_sns_btn{
    margin-left: 40px;
    display: flex;
}

.footer_sns_btn_in,.footer_sns_btn_fb{
    display: block;
    width: 295px;
    height: 70px;
    line-height: 68px;
    border: 1px solid #000;
    border-radius: 35px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
}

.footer_sns_btn_in span{
    padding-left: 35px;
    position: relative;
}

.footer_sns_btn_fb {
    margin-left: 24px;
}

.footer_sns_btn_fb span{
    padding-left: 25px;
    position: relative;
}





.footer_sns{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_sns_btn_in span::before{
    content: '';
    width: 22px;
    height: 22px;
    background: url(./image/icon_ig.svg);
    background-size: 100% auto;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    position: absolute;
    transition: 0.2s;
}

.footer_sns_btn_fb span::before{
    content: '';
    width: 12px;
    height: 23px;
    background: url(./image/icon_fb.svg) no-repeat;
    background-size: 100% auto;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    position: absolute;
    transition: 0.2s;
}


.footer_sns_btn_in:hover,.footer_sns_btn_fb:hover{
    background-color: #000;
}

.footer_sns_btn_in:hover,.footer_sns_btn_fb:hover span {
    color: #fff;
}

.footer_sns_btn_in:hover:hover span::before {
    filter: brightness(0) invert(1);
}

.footer_sns_btn_fb:hover:hover span::before {
    filter: brightness(0) invert(1);
}








.footer_copy{
    border-top: 1px solid #eaeaea;
    padding: 56px 0;
}

.footer_copy_logo{
    width: 180px;
}

.footer_copy_logo img{
    width: 100%;
    height: auto;
    vertical-align: 0;
}


.footer_copy_wrap{
    position: relative;
    max-width: 1126px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_copy_wrap_left{
    display: flex;
    align-items: center;
}


.footer_copy_address{
    display: flex;
}

.footer_copy_address p{
    font-size: 0.7rem;
}

.footer_copy_address p + p{
    margin-left: 10px;
}

.footer_copy_wrap_right{
    font-size: 0.7rem;
    line-height: 1.5;
}

