main {
    position: relative;
}



img{
    vertical-align: bottom;
    border: none;
}

ul,li{
    list-style: none;
}


.postagefree{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    background-color: #cbbd00;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.text_red{
    color: #c91804;
}

.text_nomal{
    margin-left: 15px;
    color: #fff;
}

.top_slide{
    margin-left: 120px;
    position: relative;
    z-index: 3;
}




.fade{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
      









.top_slide img{
    height: calc(100vh - 46px);
}

.logo img{
    width: 235px;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 10;
}


.sns_link_top img{
    display: block;
    height: 18px;
}


/*--------------------------------------
----------------------------------------
brand
----------------------------------------
----------------------------------------*/
.brand_wrap{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}




/*--------------------------------------
----------------------------------------
about
----------------------------------------
----------------------------------------*/

.about{
    margin-top: 112px;
    width: 100%;
    background: url(./image/about.png) bottom center no-repeat;
    background-size: cover;
    height: 46rem;
}

.about_wrap{
    position: relative;
    width: 100%;
    max-width: 1126px;
    margin: 0 auto;
    padding: 88px 0 28%;
    max-height: 1140px;
}


/*--------------------------------------
----------------------------------------
topics
----------------------------------------
----------------------------------------*/


.topics{
    margin-top: 120px;
}

.topics_wrap{
    position: relative;
    width: 89vw;
    max-width: 1126px;
    margin: 0 auto;
}

.topics_title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

.topics_article{
    display: flex;
    justify-content: space-between;
    gap: 0 5%;
}

.topics_banner{
    display: block;
    width: 100%;
    color: #000;
    text-decoration: none;
}
.topics_banner img{
    width: 100%;
    height: auto;
}






/*--------------------------------------
----------------------------------------
products
----------------------------------------
----------------------------------------*/

.products{
    margin-top: 120px;
}

.products_wrap{
    width: 89vw;
}



/*--------------------------------------
----------------------------------------
ranking
----------------------------------------
----------------------------------------*/
.ranking{
    margin-top: 120px;
    
}




/*--------------------------------------
----------------------------------------
news
----------------------------------------
----------------------------------------*/



/*--------------------------------------
----------------------------------------
faq
----------------------------------------
----------------------------------------*/


/*--------------------------------------
----------------------------------------
footer
----------------------------------------
----------------------------------------*/